<footer class="footer">
	<div class="container">
		<div class="content has-text-centered">
			<p>
				Website by
				<a href="https://jonahsnider.ninja">Jonah Snider</a>
				<br>
				<a href="{{ site.url }}/admin">Admin Page</a>
				<br>
				<a href="https://bulma.io">
					<img src="assets/images/made-with-bulma.png" alt="Made with Bulma" width="128" height="24">
				</a>
			</p>
		</div>
	</div>
</footer>

<!-- Netlify CMS -->
<script>
	if (window.netlifyIdentity) {
		window.netlifyIdentity.on("init", user => {
			if (!user) {
				window.netlifyIdentity.on("login", () => {
					document.location.href = "/admin/";
				});
			}
		});
	}
</script>
<!--/.Netlify CMS -->
