<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>
	{% include navbar.html %}

	<section id="content" class="section">
		<div class="container">
			<h1 class="title">{{ page.title }}</h1>
			<div class="content">
				{{ content | markdownify }}
			</div>
		</div>
	</section>

	<section id="linkedin" class="section">
		<div class="container">
			<h1 class="title">See all recommendations on LinkedIn</h1>
			<a href="https://www.linkedin.com/in/ksnider/" class="button">
				<span class="icon is-small">
					<i class="fab fa-linkedin"></i>
				</span>
				<span>LinkedIn</span>
			</a>
		</div>
	</section>

	{% include footer.html %}
</body>

</html>
