<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>
	{% include navbar.html %}

	<section class="hero is-{{ site.data.settings.color }} section">
		<div class="hero-body">
			<div class="container has-text-centered">
				<h1 class="title">
					{{ page.title}}
				</h1>
				<h2 class="subtitle">
					{{ page.subtitle }}
				</h2>
			</div>
		</div>
	</section>

	<section class="hero is-{{ page.aboutMe.color }} section" id="aboutMe">
		<div class="hero-body">
			<div class="container">
				<div class="media">
					<div class="media-left">
						<figure class="image">
							<img src="{{ site.data.settings.picture }}" alt="Kelly Snider">
						</figure>
					</div>
					<div class="media-content">
						<h1 class="title">
							About me
						</h1>
						<h2 class="subtitle">
							{{ page.aboutMe.text | markdownify }}
						</h2>
					</div>
				</div>
			</div>
		</div>
	</section>

	{% include footer.html %}
</body>

</html>
