<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>
	{% include navbar.html %}

	<section id="dealSheet" class="section">
		<div class="container">
			<h1 class="title">My deal sheet</h1>
			<a class="button" href="{{ site.data.settings.dealSheet }}">
				<span class="icon">
					<i class="fas fa-file-pdf"></i>
				</span>
				<span>Deal sheet PDF</span>
			</a>
		</div>
	</section>

	<section id="projects" class="section">
		<div class="container">
			<h1 class="title">{{ page.title }}</h1>
			{% for row in page.projects.rows %}
			<div class="columns">
				{% for project in row %}
				<div class="column">
					<div class="card">
						<div class="card-content">
							<div class="content">
								<p class="title">{{ project.name }}</p>
								<p class="subtitle">{{ project.description | markdownify }}</p>
							</div>
						</div>
					</div>
				</div>
				{% endfor %}
			</div>
			{% endfor %}
		</div>
	</section>

	{% include footer.html %}
</body>

</html>
